<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Either add your API access token here, or leave empty and set in an environment variable called "SMARTSHEET_ACCESS_TOKEN" -->
    <add key="AccessToken" value="" />
    <add key="SheetId" value="7411883750778756" />
  </appSettings>
</configuration>